<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Theatre timing</title>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
    <style>
        .navbar-brand-image {
            color: indianred;
        }
    </style>
</head>
<body>
<div class="page">
    {% include 'header.html' %}
    <div class="page-wrapper">
        <div class="page-body">
            <div class="container-xl">
                {% include 'alerts.html' %}
                <div class="row row-deck row-cards">
                    <div class="col-12 d-print-none">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Theatre list upload</h3>
                            </div>
                            <div class="card-body">
                                <form method="post" enctype="multipart/form-data">
                                    <label class="form-label required">Original theatre list PDF</label>
                                    <div class="input-group">
                                        <input type="file" name="file" class="form-control" required/>
                                            <button type="submit" class="btn">
                                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-upload"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><path d="M7 9l5 -5l5 5" /><path d="M12 4l0 12" /></svg>
                                                Upload
                                            </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% if table %}
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header d-block py-2">
                                    <h3 class="card-title">{{ title }}</h3>
                                    <h4 class="text-muted m-0">{{ doctor }}</h4>
                                </div>
                                <div class="card-body">
                                    {% include 'table.html' %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>