<div class="table-responsive">
    <table class="table table-vcenter">
        <thead>
        <tr>
            <th>Patient</th>
            <th>Sex</th>
            <th>Age</th>
            <th>Procedure</th>
            <th>Start time</th>
            <th>End time</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in table %}
            <tr>
            {% if entry.procedure.startswith('Launch') %}
            	<td colspan="6" class="text-center table-secondary">{{ entry.procedure }}</td>
            {% else %}
                <td>{{ entry.lastname }}, {{ entry.firstname }}</td>
                <td>{{ entry.sex }}</td>
                <td>{{ entry.age }} yrs</td>
                <td>{{ entry.procedure }}</td>
                <td class="text-red fw-bold">{{ entry.start_time }}</td>
                <td>{{ entry.end_time }}</td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
